.art {
  display: flex;
  flex: 0 0 1;
  flex-wrap: wrap;
}
.art > * {
  flex: 50%;
}
circle:hover {
  /* transform: scale(200); */
  /* opacity: 0; */
  display: none;
}
line:nth-child(2n) {
  stroke: brown;
}
