#my-element {
  transform-origin: 500px 500px;
  animation: mercury-group 9s linear infinite;
}
#my-element-2 {
  transform-origin: 500px 500px;
  animation: mercury-group 12s linear infinite;
}
/* .background {
  display: none;
} */
/* .define,
.develop,
.discover,
.deliver {
  transform-origin: 500px 500px;
  animation: mercury-group 12s linear infinite;
} */
@keyframes mercury-group {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes remove-background {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
