.stockcity-wrapper {
  display: flex;
  position: relative;
  max-width: 1018px;
  max-height: 950px;
  /* padding-top: 100px; */
}
.stokecity-content {
  position: absolute;
  transform: translate(-50%, 50%);
  top: 28%;
  left: 50%;
  text-align: center;
}
.stokecity-content h3 {
  font-size: 36px;
}
.stokecity-content p {
  max-width: 25ch;
}
