.stockcity-wrapper {
  display: flex;
  position: relative;
  max-width: 1018px;
  max-height: 950px;
  /* padding-top: 100px; */
}
.stokecity-content {
  position: absolute;
  transform: translate(-50%, 50%);
  top: 28%;
  left: 50%;
  text-align: center;
}
.stoke-city-flow {
  transform: translate3d(0px, 0px, 0px);
}
.stokecity-content h3 {
  font-size: 46px;
}
.stokecity-content p {
  max-width: 25ch;
}
.active .circle {
  /* transform: scale(1.4, 1.4); */
  -webkit-transform: scale(1.6);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: 0.3s;
  transform: scale(1.6);
  transform-origin: 50% 50%;
  transition: 0.3s;
  transform-box: fill-box;
  /* transform-origin: 189px 79px; */
}

.active .background {
  opacity: 0;
}
