html {
  font-size: 16px;
}
body {
  font-size: 1em;
}
.hero {
  display: flex;
  flex-direction: row;
  column-gap: 3.125rem;
  /* width: min(90%, 1244px); */
  /* padding-block: 4rem; */
  padding-inline: 5rem 0;
  margin-inline: auto;
  height: 131vh;
  /* margin-top: 120vh; */
  position: relative;
  max-width: 1440px;
}
.hero-text-contents {
  position: relative;
  z-index: 2;
  padding-block: 4rem;
}
.hero-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.9rem;
  margin-bottom: 2rem;
  width: 100%;
  min-width: 45vw;
}

.hero-header > p {
  width: 23ch;
  /* margin: 0 auto; */
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  /* font-size: 180%; */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-align: inherit;
  font-size: 3.75rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}
.hero-text {
  font-size: 1.5rem;
  font-weight: 700;
}
.forward {
  margin-top: 4.43rem;
  display: flex;
  /* padding: 1rem 4rem; */
  background-color: black;
  color: #fff;
  width: min-content;
  white-space: nowrap;
  height: 60px;
  width: 161px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
}

.forward img {
  margin-left: 1rem;
  width: min-content;
}
.forward span {
  font-size: 1.125rem;
  font-weight: bold;
}

/* // circle  */
.circle-img {
  /* display: flex; */
  width: 100%;
  margin-right: -6rem;
  height: min(85vh, 862px);
  overflow: hidden;
  margin-left: auto;
  width: min(55vw, 1020px);
  min-width: 40vw;
  position: absolute;
  right: 0;
  z-index: 1;
}
#circle-img {
  height: fit-content;
  margin-left: auto;
  margin-right: -40%;
  margin-top: 24%;
  transform: rotate(29deg) translateX(120vw);
}
#laughing {
  border-radius: 100% 0 0 0%;
  width: 100%;
  /* height: 78vh; */
  height: auto;
}
.first-circle {
  display: flex;
  position: relative;
  height: 30rem;
  width: 30rem;
  background-color: yellow;
}
.second-circle {
  display: flex;
  position: absolute;
  bottom: 25%;
  right: 25%;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}
.sponsors {
  display: flex;
  border-radius: 50px;
  background-color: #fff;
  z-index: 2;
  column-gap: 0.7rem;
  padding-block: 1.125rem;
  margin-top: 2.6rem;
  /* padding-left: 6.7rem; */
  width: fit-content;
  padding-right: 3rem;
}
