.nav {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  list-style-type: none;
  margin-right: 28px;
}
.nav-item {
  margin-left: 14px;
  text-transform: capitalize;
}
.dropdown {
  margin-top: 10px;
  padding: 14px 28px;
  box-shadow: 0 0 5px 7px #e5e5e580;
  list-style-type: none;
  display: none;
  position: absolute;
}
.dropdown-item {
  margin-bottom: 12.5px;
}

/* show dropdown  */

#dropdown-toggle {
  cursor: pointer;
}

#dropdown-toggle:hover .dropdown {
  display: block;
}
