body {
  margin: 0;
  background-color: #fff;
}
.container {
  display: grid;
  background-color: #f1f1f1;
  gap: 1rem;
  padding: 0.5rem;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
}
.container > * {
  background-color: #ffffff;
  min-height: 30vh;
}
/* SVG  */
.arrow-up {
  transform: rotate(90deg);
}

/* option */
.option {
  position: absolute;
  right: -45px;
  bottom: 20vh;
  background-color: #fff;
  z-index: 2;
  height: 2.4rem;
  display: flex;
  border-radius: 8px 8px 0 0;
  width: 8rem;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: bold;
  justify-content: center;
  transform: rotate(270deg);
}
.option span {
  transform: rotate(180deg);
}
.rect {
  display: flex;
  height: 4rem;
  width: 4rem;
  background-color: #555;
}
.close {
  display: none;
  opacity: none;
  z-index: 0;
  height: 0;
}
/* computer Animation text */
.computer-text-animation h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

.text-animation {
  position: relative;
  color: transparent;
}
.text-animation.state-1::before {
  width: 1px;
}
.text-animation::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #0e182d;
  width: 0;
  height: 1.2em;
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}

.text-animation.state-2::before {
  width: 0.9em;
}

.text-animation.state-3 {
  color: inherit;
}
.text-animation.state-3::before {
  display: none;
}
